.landing {

  .title_container {
    background-image: url("../Landing/img/Vector 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 23rem;
    padding: 2rem;
    position: relative;

    h1 {
      font-size: 3rem;
    }
  }
  .human_text_container {
    .human {

      &_head {
        height: 45.3%;
        width: 43.5%;
        margin-bottom: -1.25em;
      }

      &_body {
        position: relative;
        height: 85.33%;
        width: 78.2%;
        margin-bottom: -11em;
        margin-top: -4em;
        padding-right: 0.5em;
      }

      &_bottom {
        padding-top: 3em;
        height: 14.9375rem;
        width: 100%;
      }
    }
  }
}
