.personalise{
  background-color: #EEFAFB;
  padding-bottom: 3em;
  padding-top: 1em;

  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 1.5rem;
  }

  .human_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    position: relative;


    .circle{
      background-color: aquamarine;
      border-radius: 50%;
      height: 20rem;
      width: 20rem;
      margin-top: 5em;
      position: absolute;
    }

    .human {
      display: inline;
      flex-direction: column;
      height: 19rem;
      width: 19rem;
      padding-bottom: 8em;
      position: relative;
      margin: 1rem;

      &_head {
        height: 45.3%;
        width: 43.5%;
        margin-bottom: -1.5em;
        margin-right: 2em;
      }

      &_body {
        position: relative;
        height: 85.33%;
        width: 78%;
        margin-bottom: -11.5em;
        margin-top: -5em;
        margin-right: 2em;
      }

      &_bottom {
        padding-top: 3em;
        height: 14.9375rem;
        width: 100%;
      }

      //change style for the body
      .standing_body{
        width: 95%;
        margin-top: -3.5em;
        margin-right: -0.5em;
      }
      .long_coat{
        margin-bottom: -13em;
        margin-right: 2.5em;
      }
      //change style for the body

      //change style for the head
      .standing_head {
        margin-bottom: -0.75em;
        margin-right: -0.75em;
      }
      .long_head{
        margin-bottom: -1.75em;
      }
      .long_coat_head{
        margin-bottom: -2em;
        margin-right: 2.5em;
      }
      .long_coat_head_standing{
        margin-right: 0.5em;
      }
      //change style for the head

      //.Sitting_head_coat{
      //  margin-top: -4.5em;
      //}
    }
  }
  .RandomChange{
    width: 175px;
    height: 75px;
    border-radius: 50px;
    border: none;
    background-color: #77D6F4;
    font-size: 1.75rem;
    color: white;
    margin-top: 2rem;
    outline: none;
  }

}