.personnalise{
  .human_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    .human {
      display: flex;
      flex-direction: column;
      height: 300px;
      width: 300px;

      &_head {
        height: 45.3%;
        width: 43.5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        padding-left: 3.45rem;
      }

      &_body {
        position: relative;
        height: 85.33%;
        width: 78.2%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: -10em;
        margin-top: -5em;
      }

      &_bottom {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

      }
    }
  }
}