.Summary{
  background-color: $lightblue;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: auto;

  .title_container {
    text-align: left;
    width: 90%;
    .Part{
      padding: 1.5rem;
      margin:  3.3rem;
      border-radius: 10px;
      background: $blue;

      .Title{
        color: white;

        &:hover{
          color:darkgray;
        }
      }
      h2{
        transform: translateX(+20%);
        font-size: 1.5rem;
      }
    }
  }


}