.header {
  position: relative;
  z-index: 1;//to put header in the front and not at the same level as the other element
  nav {
    padding: 1em;
  }

  &_toggle {
    > span { /*mobile menu*/
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 1.625rem;
      height: 0.125rem;
      background-color: $blue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;


      &:not(:last-child) { /*mobile menu*/
        margin-bottom: 3px;
      }
    }

    .overlay {
      opacity: 0;
      position: fixed;
      top:0rem;
      bottom: 0px;
      right: 0px;
      left: 0px;
      background-image: linear-gradient(white,$blue);
    }

    &.open {
      position: fixed;
      margin-left: auto;
      margin-right:auto ;
        > span:nth-child(2) {
          transform: rotate(45deg);
        }

        > span:last-child {
          transform: rotate(-45deg);
        }

        > span:nth-child(3) {
          opacity: 0;
        }

        > span:nth-child(4) {
          opacity: 0;
        }

    }
  }
  &_menu {
    position: fixed;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;


    a {
      display: block;
      padding: 0.625rem;
      color: #000000;
      text-align: center;
      font-size: 2rem;
      text-decoration: none;
    }
  }

  &_links {
    a {
      transition: color 200ms ease-in-out;
      color:black ;
      position: relative;
      padding: 2rem;
      font-size: 2rem;
      text-decoration: none;

      &::before {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        content:"";
        height: 7px;
        border-radius: 5px;
        bottom: 10px;
        background: $blue;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }
      &:hover {
        color:hsl(233, 8%, 62%);
        &::before {
          opacity: 1;
        }
      }
    }
  }



}

